<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.debug.core.groups.GroupLaunchConfigurationType">
    <stringAttribute key="org.eclipse.debug.core.launchGroup.0.action" value="NONE"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.0.adoptIfRunning" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.0.enabled" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.0.mode" value="inherit"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.0.name" value="fat_danrusu_apiTestCalculate"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.1.action" value="NONE"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.1.adoptIfRunning" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.1.enabled" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.1.mode" value="inherit"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.1.name" value="fat_danrusu_apiTestCalculateDD"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.10.action" value="NONE"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.10.adoptIfRunning" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.10.enabled" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.10.mode" value="inherit"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.10.name" value="fat_demo_simpleDataProvider"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.11.action" value="NONE"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.11.adoptIfRunning" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.11.enabled" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.11.mode" value="inherit"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.11.name" value="fat_demo_simpleTest"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.12.action" value="NONE"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.12.adoptIfRunning" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.12.enabled" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.12.mode" value="inherit"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.12.name" value="fat_demo_XmlDynamicData"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.2.action" value="NONE"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.2.adoptIfRunning" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.2.enabled" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.2.mode" value="inherit"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.2.name" value="fat_danrusu_apiTestJson"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.3.action" value="NONE"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.3.adoptIfRunning" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.3.enabled" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.3.mode" value="inherit"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.3.name" value="fat_danrusu_uiTestCalculate"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.4.action" value="NONE"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.4.adoptIfRunning" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.4.enabled" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.4.mode" value="inherit"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.4.name" value="fat_demo_browsers"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.5.action" value="NONE"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.5.adoptIfRunning" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.5.enabled" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.5.mode" value="inherit"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.5.name" value="fat_demo_browsersDD"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.6.action" value="NONE"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.6.adoptIfRunning" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.6.enabled" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.6.mode" value="inherit"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.6.name" value="fat_demo_exceptions"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.7.action" value="NONE"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.7.adoptIfRunning" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.7.enabled" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.7.mode" value="inherit"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.7.name" value="fat_demo_junitXmlReport"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.8.action" value="NONE"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.8.adoptIfRunning" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.8.enabled" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.8.mode" value="inherit"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.8.name" value="fat_demo_properties"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.9.action" value="NONE"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.9.adoptIfRunning" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.9.enabled" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.9.mode" value="inherit"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.9.name" value="fat_demo_screenshotsCompare"/>
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
    </listAttribute>
</launchConfiguration>
